@import "tailwindcss";
@theme {
  --color-lighting: #f2f6f9;
  --color-darkness: #2a322d;
  --color-shiny: #0aa6d7;
  --color-stroke: #7acde9;
  --color-older: #f1f7f7;
  --color-off: #f4f5f5;
  --color-eclipse: #ef5c72;
  --font-inter: "Inter", "sans-serif";
  --font-courgette: "Courgette", "cursive";
  --breakpoint-3xl: 1680px;
}

body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-snap-type: y mandatory;
}

main {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.hero-bg {
  background-image: url("./assets/images/hero-bg.png");
}
.about-bg {
  background-image: url("./assets/images/icon-dotted-map-2.png");
}
.offer-bg {
  background-image: url("./assets/images/offer.png");
}
.banner-bg{
  background-image: url("./assets/images/banner-bg.png");
}

.comment::after {
  position: absolute;
  left: -25px;
  top: 0px;
  width: 100%;
  height: calc(100% - 20px);
  content: "";
  border: 2px solid var(--color-shiny);
  border-radius: 15px;
  transition: all 500ms ease;
  z-index: -1;
}

@media (width < 640px) {
  .swiper-pagination {
    left: 0px !important;
    bottom: px !important;
  }
}

.swiper-pagination {
  position: relative !important;
  margin-top: 20px;
}
.swiper-pagination-bullet {
  width: 30px !important;
  height: 30px !important;
  padding-top: 3px;
  opacity: 1 !important;
  background: white !important;
  border: 2px solid var(--color-shiny);
  color: var(--color-darkness);
  font-weight: 600;
  text-align: center;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-shiny) !important;
  color: white;
}

